Repository Armor-test/file-server-413, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-reporting, @Armor-test/squad-cache, @Armor-test/squad-performance, @Armor-test/dept-billing, @Armor-test/grp-storage, @Armor-test/team-governance, @Armor-test/grp-integration, @Armor-test/squad-ml, @Armor-test/squad-frontend, @Armor-test/squad-product, @Armor-test/team-logging, @Armor-test/dept-security, @Armor-test/squad-tooling, @Armor-test/unit-devops, @Armor-test/team-security, @Armor-test/squad-research, @Armor-test/dept-release, @Armor-test/team-reporting, @Armor-test/dept-notifications, @Armor-test/grp-payments, @Armor-test/dept-data, @Armor-test/grp-ui, @Armor-test/unit-governance, @Armor-test/team-notifications, @Armor-test/dept-reliability, @Armor-test/unit-test, @Armor-test/dept-reporting, @Armor-test/unit-cloud, @Armor-test/dept-test, @Armor-test/squad-qa, @Armor-test/dept-identity, @Armor-test/team-research, @Armor-test/squad-payments, @Armor-test/squad-ux, @Armor-test/team-core, @Armor-test/squad-cloud, @Armor-test/dept-logging, @Armor-test/dept-automation, @Armor-test/squad-mobile, @Armor-test/dept-api, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/auth-team, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for file-server-413
# Global owners - will be requested for all PRs
* @Armor-test/squad-reporting @Armor-test/squad-cache @Armor-test/squad-performance

# Directory ownership
/extensions/ @Armor-test/dept-billing @Armor-test/grp-storage @Armor-test/team-governance
/app/ @Armor-test/grp-integration @Armor-test/squad-ml
/src/ @Armor-test/squad-frontend @Armor-test/squad-product @Armor-test/team-governance
/static/ @Armor-test/team-logging @Armor-test/dept-security
/hooks/ @Armor-test/squad-tooling @Armor-test/unit-devops @Armor-test/team-logging
/views/ @Armor-test/team-security @Armor-test/squad-research @Armor-test/grp-integration
/auth/ @Armor-test/dept-release @Armor-test/team-reporting
/core/ @Armor-test/dept-notifications @Armor-test/dept-release @Armor-test/squad-research
/docs/ @Armor-test/grp-payments @Armor-test/dept-data @Armor-test/team-reporting
/services/ @Armor-test/squad-frontend @Armor-test/grp-integration @Armor-test/grp-ui
/api/ @Armor-test/unit-governance @Armor-test/team-reporting
/examples/ @Armor-test/team-notifications @Armor-test/squad-reporting

# File type ownership
*.gradle @Armor-test/dept-reliability @Armor-test/team-notifications @Armor-test/unit-test
*.md @Armor-test/dept-reporting @Armor-test/unit-cloud @Armor-test/dept-data
*.yml @Armor-test/dept-test @Armor-test/grp-integration @Armor-test/team-security
*.lock @Armor-test/team-security @Armor-test/squad-performance @Armor-test/grp-ui
*.proto @Armor-test/squad-tooling @Armor-test/squad-qa @Armor-test/dept-release
*.cpp @Armor-test/dept-data @Armor-test/dept-identity @Armor-test/dept-test
*.rs @Armor-test/team-research @Armor-test/grp-integration
*.swift @Armor-test/grp-integration @Armor-test/unit-cloud
*.jsx @Armor-test/squad-payments @Armor-test/squad-ux
*.go @Armor-test/grp-storage @Armor-test/unit-governance @Armor-test/team-logging
*.toml @Armor-test/team-core @Armor-test/squad-cloud @Armor-test/grp-ui
*.js @Armor-test/dept-logging @Armor-test/dept-automation @Armor-test/dept-reporting
*.yaml @Armor-test/team-reporting @Armor-test/dept-security @Armor-test/squad-mobile
*.tf @Armor-test/squad-reporting @Armor-test/dept-api

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance
.github/workflows/ @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-frontend, @Armor-test/squad-product, @Armor-test/team-governance

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/grp-payments, @Armor-test/dept-data, @Armor-test/team-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-reporting, @Armor-test/squad-cache, @Armor-test/squad-performance

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-frontend, @Armor-test/squad-product, @Armor-test/team-governance

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-logging, @Armor-test/dept-automation, @Armor-test/dept-reporting
